@import url("https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
html,
body {
  width: 100%;
  height: 100%;
  font-family: "noto sans CJK KR";
  color: #222;
  font-size: 10px;
  line-height: 1.2;
  box-sizing: border-box;
}

body,
header,
section,
article,
footer,
nav,
aside,
mark,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
a,
img,
dl,
dt,
dd,
address,
code,
em,
strong,
blockquote,
q {
  margin: 0;
  padding: 0;
}

ul,
ol,
li {
  list-style: none;
}

q {
  quotes: none;
}

em,
address {
  font-style: normal;
}

hr {
  display: none;
}

a:link {
  color: #222;
  text-decoration: none;
}

a:visited {
  color: #222;
}

a:active {
  color: #222;
}

#wrap {
  display: grid;
  grid-template: repeat(3, auto)/1fr;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  width: 100vw;
  height: 117px;
  padding-top: 30px;
  background-color: #fff;
}

header > .hd_container {
  position: relative;
  width: 1200px;
  height: 117px;
  margin: 0 auto;
  background-color: #fff;
}

header > .hd_container > .logo {
  width: 120px;
  height: 50px;
  padding: 5px;
  margin: 0 auto 20px;
}

header > .hd_container > .logo > a {
  width: 120px;
  height: 50px;
}

header > .hd_container > .logo > a > img {
  display: block;
}

header > .hd_container > .user {
  display: flex;
  position: absolute;
  right: 0;
  top: 10px;
  z-index: 9999;
}

header > .hd_container > .user > li {
  border-right: 1px solid #555;
}

header > .hd_container > .user > li > a {
  display: block;
  padding: 0 20px;
  color: #555;
  font-size: 1.2rem;
  text-align: center;
}

header > .hd_container > .user > li:nth-of-type(2) {
  border-right: none;
}

header > .hd_container > .user > li:nth-of-type(2) > a {
  padding-right: 0;
}

header > .hd_container > .user > li:hover {
  color: #222;
  font-weight: 800;
}

header > .hd_container > nav > .gnb {
  display: flex;
  justify-content: center;
  border-top: 1px solid #555;
  border-bottom: 1px solid #555;
  box-sizing: border-box;
}

header > .hd_container > nav > .gnb > li {
  width: 150px;
  padding: 10px 0;
  text-align: center;
  font-size: 1.3rem;
  box-sizing: border-box;
}

header > .hd_container > nav > .gnb > li:hover, header > .hd_container > nav > .gnb > li.on {
  padding-bottom: 2px;
  border-bottom: 3px solid #7c1e42;
}

header > .hd_container > nav > .gnb > li:hover a, header > .hd_container > nav > .gnb > li.on a {
  color: #7c1e42;
  font-weight: 800;
}

header > .hd_container > nav > .gnb > li > a {
  display: block;
  font-weight: 800;
}

header > .hd_container > nav > .gnb > li > ol {
  display: none;
}

header > .hd_container > nav > .gnb > li > ol > li > a {
  display: block;
}

section.main {
  position: relative;
  width: 100vw;
  height: 600px;
  margin: 67px auto 0;
}

section.main:after {
  content: "";
  display: block;
  position: absolute;
  top: calc(50% - 50px);
  width: 100vw;
  height: 150px;
  background-color: rgba(0, 0, 0, 0.5);
}

section.main .mn_img {
  overflow: hidden;
  position: relative;
  width: calc(100vw * 4);
  height: 600px;
  margin: 80px auto 0;
}

section.main .mn_img > .mn_slidecontainer > li {
  position: absolute;
  top: 0;
  left: 100vw;
  width: calc(100vw);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

section.main .mn_img > .mn_slidecontainer > li > a {
  display: block;
  height: 600px;
  text-indent: -9999px;
}

section.main .mn_img > .mn_slidecontainer > li.mn_1 {
  left: 0;
  background-image: url(./../images/main_1.jpg);
  background-size: 200%;
  background-position: center -300px;
}

section.main .mn_img > .mn_slidecontainer > li.mn_2 {
  background-image: url(./../images/main_2.jpg);
  background-size: 170%;
  background-position: center -600px;
}

section.main .mn_img > .mn_slidecontainer > li.mn_3 {
  background-image: url(./../images/main_3.jpg);
  background-size: 170%;
  background-position: center -100px;
}

section.main .mn_img > .mn_slidecontainer > li.mn_4 {
  background-image: url(./../images/main_4.jpg);
  background-size: 200%;
  background-position: center -300px;
}

section.main .mn_title {
  width: 1200px;
}

section.main .mn_title .mn_title_box {
  position: absolute;
  top: 250px;
  left: calc(50% - 25%);
  z-index: 100;
  width: 50%;
  margin: 0 auto;
  color: #fff;
  text-align: center;
}

section.main .mn_title .mn_title_box > h4 {
  margin: 0 auto;
  padding: 5px;
  font-size: 1.3rem;
  width: 270px;
  text-align: center;
  font-weight: 400;
  background-color: #000;
}

section.main .mn_title .mn_title_box > h2 {
  font-size: 8rem;
}

section.main > .mn_contact {
  position: absolute;
  left: calc(50% - 35%);
  bottom: -350px;
  width: 70%;
  padding: 20px 0 50px;
  text-align: center;
  background-color: #000;
}

section.main > .mn_contact > h2 {
  position: relative;
  margin: 30px 0 10px;
  color: #fff;
  font-size: 2rem;
  line-height: 25px;
}

section.main > .mn_contact > h2:before {
  content: "[";
  position: absolute;
  left: 20%;
  top: 5px;
  color: #7c1e42;
  font-weight: 100;
  font-size: 50px;
}

section.main > .mn_contact > h2:after {
  content: "]";
  position: absolute;
  right: 20%;
  top: 5px;
  color: #7c1e42;
  font-weight: 100;
  font-size: 50px;
}

section.main > .mn_contact > p {
  padding-top: 30px;
  color: rgba(255, 255, 255, 0.7);
  font-size: 1.3rem;
  line-height: 20px;
}

section.main > .mn_contact > a.mn_btn {
  display: block;
  margin: 50px auto 0;
  width: 150px;
  height: 40px;
  color: #fff;
  font-size: 1.3rem;
  font-weight: 800;
  text-align: center;
  line-height: 40px;
  border: 1px solid #fff;
  transition: 0.5s;
  text-shadow: none;
}

section.main > .mn_contact > a.mn_btn:hover {
  color: #000;
  background-color: #fff;
}

section.product {
  width: 100vw;
  height: 400px;
  margin: 350px auto 0;
}

section.product .pd_container {
  width: 1200px;
  margin: 0 auto;
}

section.product .pd_container h3 {
  padding: 100px 0 50px;
  text-align: center;
  font-size: 2.3rem;
}

section.product .pd_container .flexbox {
  display: flex;
  justify-content: space-between;
}

section.product .pd_container .flexbox .fbox {
  position: relative;
  width: 350px;
  height: 400px;
  box-sizing: border-box;
}

section.product .pd_container .flexbox .fbox h4 {
  margin-bottom: 10px;
  padding: 5px 10px;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
  background-color: #888888;
}

section.product .pd_container .flexbox .fbox ol.slide {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 350px;
  height: 350px;
}

section.product .pd_container .flexbox .fbox ol.slide:hover {
  outline: 1px solid #7c1e42;
}

section.product .pd_container .flexbox .fbox ol.slide li {
  position: absolute;
  bottom: 370px;
  width: 350px;
  height: 350px;
}

section.product .pd_container .flexbox .fbox ol.slide li.slide1 {
  bottom: 0;
}

section.product .pd_container .flexbox .fbox ol.slide li a {
  display: block;
  width: 350px;
  height: 350px;
  text-indent: -9999px;
}

section.product .pd_container .flexbox .fbox ol.slide li a .pic_contact {
  position: absolute;
  bottom: 0;
  z-index: 100;
  width: 350px;
  height: 350px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.3);
}

section.product .pd_container .flexbox .fbox ol.slide li a .pic_contact h3 {
  font-size: 2rem;
}

section.product .pd_container .flexbox .new h4 {
  background-color: #7c1e42;
}

section.product .pd_container .flexbox .new ol > li {
  width: 350px;
  height: 350px;
  background-size: contain;
}

section.product .pd_container .flexbox .new ol > li.slide1 {
  background-image: url(./../images/new1.jpg);
}

section.product .pd_container .flexbox .new ol > li.slide2 {
  background-image: url(./../images/new2.jpg);
}

section.product .pd_container .flexbox .new ol > li.slide3 {
  background-image: url(./../images/new3.jpg);
}

section.product .pd_container .flexbox .new ol > li.slide4 {
  background-image: url(./../images/new4.jpg);
}

section.product .pd_container .best > ol > li {
  width: 350px;
  height: 350px;
  background-size: contain;
}

section.product .pd_container .best > ol > li.slide1 {
  background-image: url(./../images/best1.jpg);
}

section.product .pd_container .best > ol > li.slide2 {
  background-image: url(./../images/best2.jpg);
}

section.product .pd_container .best > ol > li.slide3 {
  background-image: url(./../images/best3.jpg);
}

section.product .pd_container .best > ol > li.slide4 {
  background-image: url(./../images/best4.jpg);
}

section.product .pd_container .best > ol > li.slide5 {
  background-image: url(./../images/best5.jpg);
}

section.product .pd_container .sun h4 {
  background-color: #7c1e42;
}

section.product .pd_container .sun ol.slide {
  overflow: hidden;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 350px;
  height: 350px;
}

section.product .pd_container .sun ol.slide > li {
  width: 350px;
  height: 350px;
  background-size: contain;
}

section.product .pd_container .sun ol.slide > li.slide1 {
  background-image: url(./../images/sun1.jpg);
}

section.product .pd_container .sun ol.slide > li.slide2 {
  background-image: url(./../images/sun2.jpg);
}

section.product .pd_container .sun ol.slide > li.slide3 {
  background-image: url(./../images/sun3.jpg);
}

section.small {
  width: 100vw;
  height: 200px;
  margin: 300px auto 0;
  background-color: #000;
}

section.small .sm_container {
  position: relative;
  width: 1200px;
  height: 200px;
  margin: 0 auto;
}

section.small .sm_container:after {
  content: "FULL TITANIUM";
  position: absolute;
  top: 0;
  left: calc(50% - 600px);
  z-index: 100;
  width: 1200px;
  height: 200px;
  color: #e4e4e4;
  letter-spacing: 40px;
  font-size: 3rem;
  font-weight: 100;
  text-align: center;
  line-height: 200px;
  transition: 0.6s;
}

section.small .sm_container:hover:after {
  content: "";
  z-index: 0;
  background-color: transparent;
}

section.small .sm_container:hover > ul > li {
  opacity: 1;
}

section.small .sm_container > ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 200px;
  position: relative;
  z-index: 2;
}

section.small .sm_container > ul > li {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: #acacac;
  background-size: contain;
  opacity: 0;
  transition: 0.6s;
}

section.small .sm_container > ul > li:nth-last-of-type(1) {
  background-image: url(./../images/sm4.png);
}

section.small .sm_container > ul > li:nth-last-of-type(1) > a:after {
  content: "detail";
}

section.small .sm_container > ul > li:nth-last-of-type(2) {
  background-image: url(./../images/sm2.png);
}

section.small .sm_container > ul > li:nth-last-of-type(2) > a:after {
  content: "quality";
}

section.small .sm_container > ul > li:nth-last-of-type(3) {
  background-image: url(./../images/sm3.png);
}

section.small .sm_container > ul > li:nth-last-of-type(3) > a:after {
  content: "resonable";
}

section.small .sm_container > ul > li:nth-last-of-type(4) {
  background-image: url(./../images/sm1.png);
}

section.small .sm_container > ul > li:nth-last-of-type(4) > a:after {
  content: "optimization";
}

section.small .sm_container > ul > li > a {
  display: block;
  position: relative;
  z-index: 100;
  color: #f2f2f2;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 120px;
  text-align: center;
  text-indent: -9999px;
}

section.small .sm_container > ul > li > a:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 120px;
  height: 120px;
  background-color: rgba(0, 0, 0, 0.4);
}

section.small .sm_container > ul > li > a:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 120px;
  height: 120px;
  text-indent: 0;
  font-weight: 400;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

section.shop {
  width: 100vw;
  background-color: #bdbaba;
}

section.shop .shop_container {
  width: 1200px;
  height: 770px;
  margin: 0 auto;
}

section.shop .shop_container .tab {
  overflow: hidden;
  position: relative;
  width: 800px;
  height: 700px;
  box-sizing: border-box;
}

section.shop .shop_container .cont {
  margin: 0 auto;
}

section.shop .shop_container .cont .tab_pagenation {
  display: flex;
  width: 800px;
  height: 50px;
  margin: 100px auto 30px;
}

section.shop .shop_container .cont .tab_pagenation li {
  width: 50%;
  height: 50px;
  margin-right: 20px;
  border-bottom: 1px solid #000;
}

section.shop .shop_container .cont .tab_pagenation li:nth-of-type(2) {
  margin-right: 0;
}

section.shop .shop_container .cont .tab_pagenation li:hover {
  font-weight: 800;
  border-bottom: 3px solid #000;
}

section.shop .shop_container .cont .tab_pagenation li.on {
  font-weight: 800;
  border-bottom: 3px solid #7c1e42;
}

section.shop .shop_container .cont .tab_pagenation li.on a {
  color: #7c1e42;
}

section.shop .shop_container .cont .tab_pagenation li a {
  display: block;
  font-size: 1.5rem;
  text-align: center;
  line-height: 50px;
}

section.shop .shop_container .cont .tab_container {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  position: absolute;
  left: 0;
  width: 1600px;
  height: 500px;
  margin: 0 auto;
}

section.shop .shop_container .cont .tab_container li .n_people {
  width: 800px;
  height: 500px;
  background-color: rgba(255, 255, 255, 0.5);
}

section.shop .shop_container .cont .tab_container li .n_people h2 {
  font-size: 2rem;
  text-align: center;
  padding: 50px 0;
}

section.shop .shop_container .cont .tab_container li .n_people ul {
  display: flex;
  justify-content: space-around;
  width: 90%;
  margin: 0 auto;
}

section.shop .shop_container .cont .tab_container li .n_people ul li:nth-of-type(1) {
  width: 35%;
  height: 300px;
  background-image: url(./../images/24shop.jpg);
  background-size: cover;
  background-position: 0 center;
  text-indent: -9999px;
}

section.shop .shop_container .cont .tab_container li .n_people ul li:nth-of-type(2) {
  width: 50%;
  height: 300px;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}

section.shop .shop_container .cont .tab_container li .n_people ul li:nth-of-type(2) .local a {
  display: block;
}

section.shop .shop_container .cont .tab_container li .n_people ul li:nth-of-type(2) .local a h3 {
  margin: 8px 0 5px 0;
  color: #7c1e42;
  font-size: 1.3rem;
  font-weight: 800;
}

section.shop .shop_container .cont .tab_container li .n_people ul li:nth-of-type(2) .local a h3:nth-of-type(1) {
  margin-top: 12px;
}

section.shop .shop_container .cont .tab_container li .n_people ul li:nth-of-type(2) .local a h3:after {
  content: "";
  display: inline-block;
  margin-left: 5px;
  width: 15px;
  height: 20px;
  vertical-align: text-bottom;
  background-image: url(./../images/local.svg);
  background-repeat: no-repeat;
}

section.shop .shop_container .cont .tab_container li .n_people ul li:nth-of-type(2) .local a p {
  margin-bottom: 5px;
  font-size: 1.1rem;
}

section.shop .shop_container .cont .tab_container li .n_people ul li:nth-of-type(2) .local a span {
  display: block;
  padding-bottom: 5px;
  color: #555;
  font-weight: 800;
  border-bottom: 1px dotted #555;
}

section.shop .shop_container .cont .tab_container li .n_people ul li:nth-of-type(2) .local a span.last {
  border-bottom: none;
}

section.shop .shop_container .cont .tab_container li .optician {
  width: 800px;
  height: 500px;
  background-color: rgba(255, 255, 255, 0.5);
}

section.shop .shop_container .cont .tab_container li .optician h2 {
  font-size: 2rem;
  text-align: center;
  padding: 50px 0;
}

section.shop .shop_container .cont .tab_container li .optician ul {
  display: flex;
  justify-content: space-around;
  width: 90%;
  margin: 0 auto;
}

section.shop .shop_container .cont .tab_container li .optician ul li:nth-of-type(1) {
  width: 35%;
  height: 300px;
  background-image: url(./../images/optician.jpg);
  background-size: cover;
  background-position: 0 center;
  text-indent: -9999px;
}

section.shop .shop_container .cont .tab_container li .optician ul li:nth-of-type(2) {
  width: 50%;
  height: 300px;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}

section.shop .shop_container .cont .tab_container li .optician ul li:nth-of-type(2) .local h3 {
  margin: 8px 0 5px 0;
  color: #7c1e42;
  font-size: 1.3rem;
  font-weight: 800;
}

section.shop .shop_container .cont .tab_container li .optician ul li:nth-of-type(2) .local h3:nth-of-type(1) {
  margin-top: 12px;
}

section.shop .shop_container .cont .tab_container li .optician ul li:nth-of-type(2) .local h3:after {
  content: "";
  display: inline-block;
  margin-left: 5px;
  width: 15px;
  height: 20px;
  vertical-align: text-bottom;
  background-image: url(./../images/local.svg);
  background-repeat: no-repeat;
}

section.shop .shop_container .cont .tab_container li .optician ul li:nth-of-type(2) .local p {
  margin-bottom: 5px;
  font-size: 1.1rem;
}

section.shop .shop_container .cont .tab_container li .optician ul li:nth-of-type(2) .local span {
  display: block;
  padding-bottom: 5px;
  color: #555;
  font-weight: 800;
  border-bottom: 1px dotted #555;
}

section.shop .shop_container .cont .tab_container li .optician ul li:nth-of-type(2) .local span.last {
  border-bottom: none;
}

section.shop .shop_container .cont .tab_container li .optician ul li:nth-of-type(2) a.btn {
  display: block;
  width: 150px;
  padding: 5px 0;
  margin-top: 20px;
  text-align: center;
  border: 1px solid #000;
  background-color: #fff;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

section.shop .shop_container .cont .tab_container li .optician ul li:nth-of-type(2) a.btn:hover {
  color: #fff;
  background-color: #000;
}

footer {
  width: 100vw;
  background-color: #000;
}

footer .ft_container {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 1200px;
  height: 250px;
  margin: 0 auto;
  padding: 50px 0;
  color: #fff;
}

footer .ft_container > h2.logo {
  width: 120px;
  height: 60px;
  text-indent: -9999px;
  background-image: url(./../images/iblank_logo_w.svg);
  background-repeat: no-repeat;
}

footer .ft_container .ft_contact {
  position: absolute;
  right: 0;
  width: 80%;
}

footer .ft_container .ft_contact .ft_top {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 20px;
  font-size: 1.1rem;
  border-bottom: 1px solid #fff;
}

footer .ft_container .ft_contact .ft_top .ft_comnu {
  display: flex;
}

footer .ft_container .ft_contact .ft_top .ft_comnu li a {
  display: block;
  padding: 0 30px;
  color: #838383;
  font-weight: 800;
  border-right: 1px solid #838383;
}

footer .ft_container .ft_contact .ft_top .ft_comnu li a:hover {
  color: #a7a7a7;
  text-decoration: underline;
}

footer .ft_container .ft_contact .ft_top .ft_comnu li:nth-of-type(1) > a {
  padding-left: 0;
}

footer .ft_container .ft_contact .ft_top .sns {
  display: flex;
}

footer .ft_container .ft_contact .ft_top .sns > li > a {
  display: block;
  padding: 0 30px;
  color: #fff;
  font-weight: 800;
}

footer .ft_container .ft_contact .ft_top .sns > li:last-child > a {
  padding-right: 0;
}

footer .ft_container .ft_contact .ft_b {
  display: flex;
  justify-content: space-between;
}

footer .ft_container .ft_contact .ft_b .ft_left {
  width: 65%;
  margin-top: 20px;
  font-size: 1.2rem;
}

footer .ft_container .ft_contact .ft_b .ft_left span {
  padding: 0 10px;
  border-right: 1px solid #fff;
  line-height: 25px;
}

footer .ft_container .ft_contact .ft_b .ft_left span.first {
  padding-left: 0;
}

footer .ft_container .ft_contact .ft_b .ft_left span:last-of-type {
  border-right: none;
}

footer .ft_container .ft_contact .ft_b .ft_left span a {
  color: #fff;
  font-weight: 800;
}

footer .ft_container .ft_contact .ft_b .ft_left span a:hover {
  text-decoration: underline;
}

footer .ft_container .ft_contact .ft_b .ft_left address {
  margin-top: 30px;
  padding-top: 10px;
  color: #838383;
  line-height: 25px;
  font-weight: 800;
  border-top: 1px solid #838383;
}

footer .ft_container .ft_contact .ft_b .ft_right {
  width: 15%;
  margin-top: 20px;
  font-size: 1.2rem;
  line-height: 30px;
}

footer .ft_container .ft_contact .ft_b .ft_right ul li a {
  color: #fff;
  font-weight: 800;
}

footer .ft_container .ft_contact .ft_b .ft_right ul li a span {
  font-size: 1.5rem;
}

footer .ft_container .ft_contact .ft_b .ft_right ul li:nth-of-type(4) {
  padding-top: 20px;
}
