@import "_reset";

#wrap {
  display: grid;
  grid-template: repeat(3, auto) / 1fr;
}
header {
  position: fixed;
  z-index: 99999;

  width: 100vw;
  height: 87px;
  padding-top: 30px;
  background-color: #fff;

  > .hd_container {
    position: fixed;
    top: 0;
    left: calc(50% - 490px);
    z-index: 99999;

    width: 1000px;

    background-color: #fff;

    > .logo {
      width: 120px;
      height: 50px;
      padding: 5px;
      margin: 0 auto 20px;

      > a {
        width: 120px;
        height: 50px;

        > img {
          display: block;
        }
      }
    }

    > .user {
      display: flex;
      position: absolute;
      right: 0;
      top: 10px;
      width: 140px;
      > li {
        width: 70px;
        border-right: 1px solid #555;

        > a {
          display: block;
          color: #555;
          font-size: 1.2rem;
          text-align: center;
        }

        &:nth-of-type(2) {
          border-right: none;
        }

        &:hover {
          color: #222;
          font-weight: 800;
        }
      }
    }

    > nav {
      > .gnb {
        display: flex;
        justify-content: center;

        border-top: 1px solid #555;
        border-bottom: 1px solid #555;

        box-sizing: border-box;

        > li {
          width: 150px;
          padding: 10px 0;
          text-align: center;
          font-size: 1.3rem;
          box-sizing: border-box;

          &:hover,
          &.on {
            padding-bottom: 2px;
            border-bottom: 3px solid #7c1e42;

            a {
              color: #7c1e42;
              font-weight: 800;
            }
          }

          > a {
            display: block;
            font-weight: 800;
          }

          > ol {
            display: none;
            > li {
              > a {
                display: block;
              }
            }
          }
        }
      }
    }
  }
}

section.main {
  position: relative;
  width: 1000px;
  height: 600px;
  margin: 60px auto 0;

  &:after {
    content: "";
    display: block;
    position: absolute;
    top: calc(50% - 50px);

    width: 1000px;
    height: 150px;

    background-color: rgba(0, 0, 0, 0.5);
  }

  .mn_img {
    overflow: hidden;
    position: relative;

    width: 1000px;
    height: 600px;
    margin: 55px auto 0;

    > .mn_slidecontainer {
      > li {
        position: absolute;
        top: 0;
        left: 1000px;
        width: 1000px;

        background-position: center;
        background-size: cover;

        > a {
          display: block;
          height: 600px;
          text-indent: -9999px;
        }

        &.mn_1 {
          left: 0;
          background-image: url(./../images/main_1.jpg);
          background-size: 170%;
          background-position: center -100px;
        }
        &.mn_2 {
          background-image: url(./../images/main_2.jpg);
          background-size: 140%;
          background-position: center -200px;
        }
        &.mn_3 {
          background-image: url(./../images/main_3.jpg);
          background-size: 140%;
          background-position: center 0;
        }
        &.mn_4 {
          background-image: url(./../images/main_4.jpg);
          background-size: 140%;
          background-position: center -70px;
        }
      }
    }
  }

  .mn_title {
    width: 1000px;

    .mn_title_box {
      position: absolute;
      top: 250px;
      left: calc(50% - 25%);
      z-index: 100;

      width: 50%;
      margin: 0 auto;

      color: #fff;
      text-align: center;

      > h4 {
        margin: 0 auto;
        padding: 5px;
        font-size: 1.3rem;

        width: 270px;
        text-align: center;
        font-weight: 400;
        background-color: #000;
      }
      > h2 {
        font-size: 8rem;
      }
    }
  }

  > .mn_contact {
    position: absolute;
    left: calc(50% - 40%);
    bottom: -300px;
    width: 80%;
    padding: 20px 0 50px;

    text-align: center;

    background-color: #000;

    > h2 {
      position: relative;
      margin: 30px 0 10px;

      color: #fff;
      font-size: 2rem;
      line-height: 25px;

      &:before {
        content: "[";

        position: absolute;
        left: 150px;
        top: 5px;

        color: #7c1e42;
        font-weight: 100;
        font-size: 50px;
      }

      &:after {
        content: "]";

        position: absolute;
        right: 150px;
        top: 5px;

        color: #7c1e42;
        font-weight: 100;
        font-size: 50px;
      }
    }
    > p {
      padding-top: 30px;

      color: rgba(255, 255, 255, 0.7);
      font-size: 1.3rem;
      line-height: 20px;
    }

    > a.mn_btn {
      display: block;
      margin: 50px auto 0;

      width: 150px;
      height: 40px;
      color: #fff;
      font-size: 1.3rem;
      font-weight: 800;
      text-align: center;
      line-height: 40px;

      border: 1px solid #fff;
      transition: 0.5s;
      text-shadow: none;

      &:hover {
        color: #000;
        background-color: #fff;
      }
    }
  }
}

section.a {
  width: 1000px;
  height: 200px;
  margin: 300px auto 0;

  background-color: #f2f2f2;
}
section.slide {
  width: 1000px;
  height: 700px;
  margin: 0 auto;

  background-color: #bdbaba;
}

footer {
  width: 100vw;
  background-color: #000;

  .ft_container {
    display: flex;
    justify-content: space-between;

    position: relative;
    width: 1000px;
    height: 250px;
    margin: 0 auto;
    padding: 50px 0;

    color: #fff;

    > h2.logo {
      width: 120px;
      height: 60px;
      text-indent: -9999px;
      background-image: url(./../images/iblank_logo_w.svg);
      background-repeat: no-repeat;
    }
    .ft_contact {
      position: absolute;
      right: 0;
      width: 80%;

      .ft_top {
        display: flex;
        justify-content: space-between;

        width: 100%;
        padding-bottom: 20px;

        font-size: 1.1rem;
        border-bottom: 1px solid #fff;

        .ft_comnu {
          display: flex;
          li {
            a {
              display: block;
              padding: 0 30px;
              color: #838383;
              font-weight: 800;
              border-right: 1px solid #838383;

              &:hover {
                color: #a7a7a7;
                text-decoration: underline;
              }
            }

            &:nth-of-type(1) > a {
              padding-left: 0;
            }
          }
        }

        .sns {
          display: flex;
          > li {
            > a {
              display: block;
              padding: 0 30px;
              color: #fff;
              font-weight: 800;
            }

            &:last-child > a {
              padding-right: 0;
            }
          }
        }
      }

      .ft_b {
        display: flex;
        justify-content: space-between;

        .ft_left {
          width: 70%;
          margin-top: 20px;

          font-size: 1.2rem;
          span {
            padding: 0 10px;
            border-right: 1px solid #fff;
            line-height: 25px;

            &.first {
              padding-left: 0;
            }

            &:last-of-type {
              border-right: none;
            }

            a {
              color: #fff;
              font-weight: 800;

              &:hover {
                text-decoration: underline;
              }
            }
          }
          address {
            margin-top: 30px;
            padding-top: 10px;

            color: #838383;
            line-height: 25px;
            font-weight: 800;
            border-top: 1px solid #838383;
          }
        }

        .ft_right {
          width: 15%;
          margin-top: 20px;

          font-size: 1.2rem;
          line-height: 30px;

          ul {
            li {
              a {
                color: #fff;
                font-weight: 800;
                span {
                  font-size: 1.5rem;
                }
              }
              &:nth-of-type(4) {
                padding-top: 20px;
              }
            }
          }
        }
      }
    }
  }
}
